*{
    margin: 0;
    padding-top: 0;
    text-decoration: none;
}


body{
    max-height: 400px;
    font-family:"Arial", Serif;
    background-color: #f4f4f4;
    opacity: 0.9;
    overflow-x: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    padding: 0;
}
.side-menu{
    width: 25%;

}

.main-content{
   margin-left: 25%;
    
}

nav{
    margin-top:5px;
    float: left;
    margin-left: 50px;
}
.nav-list{
    margin:15px auto 0;
    padding:0;
}

/* Login form styles */
.login-heading{
    color: #444;
    margin: 10px 35px;
}
.login-content{
    margin: 150px 400px auto;
    
}

input{
    width: 60%;
    padding: 12px 10px;
    margin: 8px 0;
    border:0;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #091823;
    color: #fff;
}


/* table styles */

table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table tr{
    height:40px;  
    border-bottom:1px solid #162435;
}
table tr:first-child{
    border-top:1px solid #4a4646;
}
table td{
    padding:6px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
table td,table td a{
        color:hsl(173, 100%, 2%);
}
table tr:hover{
    color:#fff;
    background: #0D1727;
}
table tr td{
    padding-right:30px;
    
}
table tr td:first-child {
    padding:6px;
}


/* end of table styles */