
*{
    margin: 0;
    padding-top: 0;
    text-decoration: none;
}


body{
    max-height: 400px;
    font-family:"Arial", Serif;
    background-color: #f4f4f4;
    opacity: 0.9;
    overflow-x: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    padding: 0;
}


h2{
    padding:15px;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    width: 50%;
    margin-left: 100px;
}


/* Login form styles */
div .user{
    margin-left: 100px;
}
.login-heading{
    color: #444;
    margin: 3px;
    
}
.login-content{
    margin: 150px 400px auto;
    
}

input{
    width: 50%;
    padding: 12px 10px;
    margin: 8px 0;
    border:0;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #091823;
    color: #fff;
}

/* End of login styles */


/* Register form styles */
button{
    border:none;
    border-radius: 10px;
}
.register-page{
    width: 700px;
    padding: 3%;
    margin: 50px auto; 
}

.heading{
    color: #444;
    margin-left: -40px;
    }
  
.button #login-btn{
background-color: #222;
color: #ddd;
padding: 10px;
}
 button, #r-register{
    background-color:rgba(14, 15, 31, 0.7);
     
 }
 button, #r-register a{
    color: #fff;
    font-size: 12px;
    padding: 10px;
    width: 60%;
}


 button, #r-login{
    background-color: rgb(10, 134, 51);
    color: #222;
    width: 25%;
}
button, #r-login a{
   color: #fff;
   font-size: 12px;
   padding: 10px;
}


/* end of register page */


/* Navigation bar styles */
nav{
    width: 100%;
    height: 60px;
    color: #fff;
    background-color:#113046;
}

nav p a{
    font-family: Arial;
    color:#fff;
    font-size: 24px;
    line-height: 55px;
    float:left;
     padding: 0 21px;
}

nav ul{
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: Arial;
    color:#fbfbfb;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
}


nav ul li ul li {
   width: 150px;
   border-radius: 4px;
 }

nav ul li ul li a{
   padding: 12px 14px;
}

nav ul li ul li a:hover{
    color: #222;
    background-color: #f3f3f3;
 }

.nav-right{
    float: right;
} 

/* End of navigation styles */


/* h1 styles */
h1{
    padding:25px;
    color: #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    width: 100%;
}

p{
    color: #fff;
    font-family:Tahoma;
    font-size:20px;
}


/* make request page styles*/

.user-request{
    width: 100%;
    padding: 3%;
    margin: 10px 100px 10px 250px; 
    background:rgb(247, 242, 242);
}

.btn-request{
    background-color: green;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

textarea{
    width:50%;
}


/* end of make request page styles */

/* footer styles */

footer{
    text-align:center;
    font-family: 'Montserrat-Light', sans-serif;
    letter-spacing: 0.15em;
    background: transparent;
    border: 0;
    margin:250px 0 0 0;
    background-color:#55575d;
    color:#333;
    padding: 40px;
}

/* end of footer styles */



/* requests page styles */
.float-right{
    float: right !important;
}

.request-a{
    background-color: #113046;
    color:#ccc;
    padding: 30px 40px;
    margin:15px 100px; 
    border-radius: 10px;
}

.btn-approve{
    width: 10%;
    color: green;
}

.btn-disapprove{
    width: 10%;
    background-color: rgb(131, 39, 39);
}


/* end of requests page styles */