
*{
    margin: 0;
    padding-top: 0;
    text-decoration: none;
}


body{
    max-height: 400px;
    font-family:"Arial", Serif;
    background-color: #f4f4f4;
    opacity: 0.9;
    overflow-x: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 100%;
    padding: 0;
}


/* Login form styles */
.login-heading{
    color: #444;
    margin: 10px 35px;
}
.login-content{
    margin: 150px 400px auto;
    
}

input{
    width: 60%;
    padding: 12px 10px;
    margin: 8px 0;
    border:0;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #091823;
    color: #fff;
}

/* End of login styles */


/* Register form styles */
button{
    border:none;
    border-radius: 10px;
}
.register-page{
    width: 700px;
    padding: 3%;
    margin: 50px auto; 
}

.heading{
    color: #444;
    margin-left: -40px;
    }
  
.button #login-btn{
background-color: #222;
color: #ddd;
padding: 10px;
}
 button, #r-register{
    background-color:rgba(14, 15, 31, 0.7);
     
 }
 button, #r-register a{
    color: #fff;
    font-size: 12px;
    padding: 10px;
    width: 60%;
}


 button, #r-login{
    background-color: rgb(10, 134, 51);
    color: #222;
    width: 60%;
}
button, #r-login a{
   color: #fff;
   font-size: 12px;
   padding: 10px;
}


/* end of register page */